@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo__btn{
    display: flex;
    align-items: center;
}
.logo__img{
    width: 85px;
    height: 80px;
    margin-top: 4px;
    margin-right: 50px;
}

.header__inner{
    display: flex;
    padding: 0 200px;
    max-width: 100%;
    height: 80px;
    background-color: #222;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.container{
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

.header__btn{
    background-color: rgba(0,0,0,.2);
text-decoration: none;
cursor: pointer;
height: 38px;
border: 1px solid;
font-size: 14px;
line-height: 36px;
color: #9efba1;
border-radius: 19px;
border-color: rgba(158,251,161,.5);
vertical-align: middle;
padding: 0 15px;
letter-spacing: 1px;
transition: color .2s ease-in-out,border-color .2s ease-in-out;
outline: none;

}
.header__btn:hover{
    border: 1px solid  #9efba1;
}

.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__list-link{
    text-decoration: none;
    margin-left: 40px;
    color: #fff;  
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}


.menu__list-link:hover{
    color:#09f;
}
.menu__list-link__btn{
    border: 0px;
    background-color: #222;
    margin-left: 40px;
    color: #fff;  
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.menu__list-link__btn:hover{
    color:#09f;
}
.clear__all{
    height: 36px;
    padding: 0 25px;
    font-size: 14px;
    font-family: Arial,sans-serif;
    line-height: 34px;
    color: #fff;
    border-color: #0f8fee;
    background-color: #0f8fee;
    outline: none;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    margin-bottom: 50px;
}

.responses__inner{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.responses__inner__blocks + .responses__inner__blocks{
    margin-left: 400px;
}

.response__name__surname{
    line-height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #09f;
    cursor: default;
    margin-bottom: 5px;
}

p{
    line-height: 21px;
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.clear__response{
    background-color: #0f8fee;
    color: #fff;
    height: 30px;
    width: 114px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    text-align: center;
    border: 1px solid #0f8fee;
    border-radius: 100px;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}