
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f6f8f9;
}

.container{
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
    background-color: #f6f8f9;
}

.test__block__slider{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.question{
margin-top: 150px;
font-size: 20px;
line-height: 1.3;
font-weight: 400;
font-family: -apple-system,system-ui,BlinkMacSystemFont,sans-serif;
color: #333;
margin-bottom: 50px;
}

.option{
    display: flex;
    align-items: center;
    padding: 10px;

}

.input_answer{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;

}

.answer__option{
font-size: 16px;
font-weight: 400;
line-height: 1.3;
font-family: -apple-system,system-ui,BlinkMacSystemFont,sans-serif;
cursor: pointer;
margin-left: 10px;
}

.slick-dots{
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.slick-dots button{
    background-color: #c6e6ff;
    cursor: pointer;
    margin: 0 8px 4px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    color: #333;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    outline: none;
    font-weight: 700;
    border: 1px solid #c6e6ff;
}
.slick-dots button:hover{
    background-color: #1a96f6;
    color: #fff;
    border: 1px solid #F1683D;
}

.slick-dots .slick-active button{
    background-color: #1a96f6;
    color: #fff;
    border: 2px solid #F1683D;
}

.buttons__slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.button_submit{
    background-color: #1a96f6;
    color: #fff;
    max-width: 220px;
    width: 100%;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 5px;
    line-height: 52px;
    height: 52px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    outline: none;
}
.button_submit:hover{
    background-color: #0E81D9;
}

.button_delete{
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #333;
    max-width: 220px;
    width: 100%;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 5px;
    line-height: 52px;
    height: 52px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    outline: none;
}

.button_finish{
    background-color: #7fc92e;
    color: #fff;
    max-width: 220px;
    width: 100%;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 5px;
    line-height: 52px;
    height: 52px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    outline: none;
}
.button_finish:hover{
    background-color: #6ca82a;
}